name: Goodbye

on:
  workflow_dispatch:
    inputs:
      name:
        description: "The name to address"
        type: string
        required: true
      force_fail:
        description: "Deliberately force the run to fail"
        type: boolean
        # Despite that force_fail is not required and has a default option,
        # its value must always be provided (and provided as a string) due
        # to a GHA platform bug, as explained here:
        # https://github.com/cli/cli/issues/5246#issuecomment-1259581339
        required: false
        default: false

jobs:
  goodbye:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: say-goodbye
        run: |
          if [ "${{ inputs.force_fail }}" = "true" ]; then
            echo "forced fail"
            exit 1
          fi

          echo "Goodbye, ${{ inputs.name }}!"
